.wrapper{
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 70px;
    text-decoration: none;
    color: black;
}

.time {
    color: rgb(82, 80, 80);
    font-size: 12px;
    margin: 10px 10px 0px auto;
}

.title {
    font-size: 20px;
}